body {
	background-color: #6F9496;
}
#triangle-border{
	width: 1500px;
	height: 40px;
	padding-top: -15px;
}
h1#greeting{
	text-align: center;
	color: white;
	font-size: 5em;
	font-family: florabella;
}
